@import '../../common/mixin.scss';

.title-img {
  width: 76%;
  margin:0 0 0 50%;
  transform: translate(-50%, 0)
}

.login {
  @include card;
  width:80%;
  color: #2F8CCB;
  padding: 50px;
  margin:20px auto;

  .error{
    font-size:26px;
    text-align:center;
    color:#D0021B;
    margin-top:10px;
  }

  

  .forgot-psw {
    font-size: 26px;
    text-align: right;
    margin-top: 20px;
  }

  .bot-text {
    font-size: 26px;
    text-align: center;
    margin-top: 30px;
    font-weight:520;
  }
}

.bottom-img{
}